<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label "Nombre Completo" %>
    <%= form.text_field :names, class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
    <%= form.label "Celular" %>
    <%= form.text_field :cellphone, class: 'form-control' %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <%= form.label "Cédula" %>
    <%= form.text_field :personal_id, class: 'form-control' %>
  </div>
  <div class="form-group col-md-6">
    <%= form.label "Correo electrónico" %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>
</div>

<%= form.fields_for :reservation_attributes do |reservation_form| %>
  <%= reservation_form.hidden_field :movie_id, "data-behavior": "movie_id_hidden_input" %>
  <%= reservation_form.hidden_field :date, value: resolve_date, "data-behavior": "reservation_date_hidden_input" %>
<% end %>