<!DOCTYPE html>
<html>
  <head>
    <title>MovieReservationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='parent-row' class="row">
      <div id='left-side' class='col-2 col-md-3'>
        <%= render  partial: 'layouts/partials/side_navigation' %>
      </div>
      <div id='right-side' class='col-10 col-md-9'>
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key.to_sym) %>" role='alert'>
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
